<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Adventure Time Apparel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cart-plus mr-2"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <% if @cart.empty? %>
          <p class="dropdown-item"> No Items In Cart </p>
        <% else %>
          <% @cart.each do |product| %>
            <p class="dropdown-item" type="button"><%= product.product_name %>
              <%= link_to 'Remove From Cart', remove_from_cart_path(product.id),
                            method: :delete,
                            class: 'btn btn-outline-warning px-3' %>
              <%= link_to '+', add_to_cart_path(product.id, cart_action:"+"),
                          method: :post,
                          class: 'btn btn-outline-warning px-3' %>
              <%= link_to '-', remove_from_cart_path(product.id, cart_action:"-"),
                          method: :delete,
                          class: 'btn btn-outline-warning px-3' %>

            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Category.all.order('category_name ASC').each do |category| %>
            <%= link_to category, category, :class => "dropdown-item" %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0" action="/search" method="GET">
      <div class = "input-group">
        <input class="form-control" type="search" placeholder="Search By Category" aria-label="Search" name="product">
        <label>
          <select class="custom-select" name = "category">
            <option selected value = "all">Choose Category</option>
            <% Category.all.order('category_name ASC').each do |category| %>
            <option value="<%= category.id %>"><%= link_to category, category, :class => "dropdown-item" %></option>
            <% end %>
          </select>
        </label>
        <div  class = "input-group-append">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</nav>
