<div class="jumbotron">
  <div class="container">
    <%= link_to 'Home', root_path %>
    <h1 id="adventure-time-apparel">Adventure Time Apparel</h1>
    <h2 id="ecommerce-site-built-with-rails">Ecommerce site built with Rails</h2>
    <ul>
      <li>Built with Ruby v 2.7.1 </li>
    </ul>
    <h3 id="describe-datasets">Datasets</h3>
    <ul>
      <li>Customer – responsible for holding information and account of customer making the purchase of apparel, this will allow order fulfillment<ul>
        <li>Associations <ul>
          <li>has_many (Orders)</li>
          <li>has_one (Province)</li>
        </ul>
        </li>
        <li>Column names<ul>
          <li>Customer_name – string</li>
          <li>Email – string</li>
          <li>Password – string</li>
          <li>Address – string</li>
          <li>City – string</li>
          <li>Province – string</li>
          <li>Postal_code – string</li>
          <li>Country – string</li>
        </ul>
        </li>
      </ul>
      </li>
      <li>Province – contains taxes information for the province that will later be used during order GST and PST calculation<ul>
        <li>Associations<ul>
          <li>has_one (Customer)</li>
        </ul>
        </li>
        <li>Column names<ul>
          <li>province_name – string</li>
          <li>GST_rate – string</li>
          <li>PST_rate – string</li>
        </ul>
        </li>
      </ul>
      </li>
      <li>Order – Holds information about a specific order a customer has made as well as the order cost<ul>
        <li>Associations<ul>
          <li>Belongs_to (Customer)</li>
          <li>Has_many (Products) through OrderProduct</li>
        </ul>
        </li>
        <li>Column names<ul>
          <li>Shipping_address – string</li>
          <li>Order_cost – float</li>
          <li>Shipping_cost – float</li>
          <li>GST – float</li>
          <li>PST – float</li>
        </ul>
        </li>
      </ul>
      </li>
      <li>OrderProduct – a join table allowing for order to have multiple products.<ul>
        <li>Associations<ul>
          <li>Belongs_to (Product)</li>
          <li>Belongs_to (Order)</li>
        </ul>
        </li>
        <li>Column names<ul>
          <li>Product_quantity – integer</li>
          <li>Quantity_price  float</li>
        </ul>
        </li>
      </ul>
      </li>
      <li>Product – table containing all information about a product.<ul>
        <li>Associations<ul>
          <li>Belongs_to (Category)</li>
          <li>Has_many (ProductImage)</li>
          <li>Has_many (OrderProducts)</li>
          <li>Has_many (Orders) through OrderProduct</li>
        </ul>
        </li>
        <li>Column names<ul>
          <li>Product_name – string</li>
          <li>product_price – float</li>
          <li>stock_quantity – integer</li>
        </ul>
        </li>
      </ul>
      </li>
      <li>Category – table containing all the existing categories of products<ul>
        <li>Associations<ul>
          <li>Has_many (Product)</li>
        </ul>
        </li>
        <li>Column names<ul>
          <li>Category_name – string</li>
        </ul>
        </li>
      </ul>
      </li>
      <li>ProductImage – table containing images for products<ul>
        <li>Associations<ul>
          <li>Belongs_to (Product)</li>
        </ul>
        </li>
        <li>Column names<ul>
          <li>Image_title – string</li>
          <li>Image_url – string</li>
        </ul>
        </li>
      </ul>
      </li>
    </ul>
    <h3 id="1-2-erd-diagram">ERD Diagram</h3>
    <p><%= image_tag "FinalProposalERD.png", :class => "img-fluid",:alt => 'ERD'%></p>
  </div>
</div>

