<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Adventure Time Apparel</h1>
    <p class="lead">This is an ecommerce website specializing in Adventure and Camping Apparel </p>
  </div>
</div>