<nav aria-label="breadcrumb no-bg">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
    <li class="breadcrumb-item"><%= link_to @category, @category %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= params[:product] %></li>
  </ol>
</nav>
<% if @products.empty? %>
<div class="container">
  <p>No products found for <b><%= params[:product] %></b> in <%= @category %></p>
</div>
<% else %>  <div class = "container">
    <%= render partial: "products/products" %>
  </div>
<% end %>


