<nav aria-label="breadcrumb no-bg">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categories</li>
  </ol>
</nav>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <% @categories.each do |category| %>
      <div class="list-group">
        <%= link_to category, category, :class => "list-group-item list-group-item-action list-group-item-light" %>
      </div>
    <% end %>
  </ul>
</div>
