<nav aria-label="breadcrumb no-bg">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @category %></li>
  </ol>
</nav>
<%= render partial: "products/products" %>
