<div class="container justify-content-center mt-50 mb-50">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mt-2">
        <div class="card border-0">
          <div class="card-body">
            <div class="card-img-actions">
              <% if product.product_images[0].image.present? %>
                <%= image_tag product.product_images[0].image, :class => "card-img img-fluid", :width => 96, :height => 350, :alt => product.product_images[0] %>
              <% else %>
                <%= image_tag product.product_images[0].image_path, :class => "card-img img-fluid", :width => 96, :height => 350, :alt => product.product_images[0] %>
            <% end %>
            </div>
          </div>
          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <%= link_to product.product_name, product, :class => "text-default mb-2" %>
              </h6>
              <%= link_to product.category, product, :class => "text-muted" %>
            </div>
            <h3 class="mb-0 font-weight-semibold mb-2"><%= product.product_price %></h3>
            <!--          <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>-->
            <!--          <div class="text-muted mb-3">34 reviews</div> -->
            <div class="px-2 mt-3">
<!--              <button class="btn btn-primary px-3">Buy Now</button>-->
            <% if @cart.include?(product) %>
              <%= button_to 'Remove From Cart', remove_from_cart_path(product.id), method: :delete, class: 'btn btn-outline-warning px-3' %>
            <% else %>
              <%= link_to 'Add To Cart', add_to_cart_path(product.id), method: :post, class: 'btn btn-outline-primary px-3'%>
            <% end %>
<!--              <button type="button" class="btn btn-outline-primary px-3"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>-->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="pagination justify-content-center mt-3">
  <%= paginate @products, :class => "justify-content-center mt-3" %>
</div>