<nav aria-label="breadcrumb no-bg">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
    <li class="breadcrumb-item"><%= link_to @product.category, @product.category %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product %></li>
  </ol>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="card" style="width: 18rem;">
      <%= image_tag @product.product_images[0].image_path, :class => "card-img-top", :alt => @product.product_name %>
      <div class="card-body">
        <h5 class="card-title"><%= @product.product_name %></h5>
        <p class="card-text"><%= @product.product_description %></p>
        <h3 class="mb-0 font-weight-semibold mb-2"><%= @product.product_price %></h3>
<!--        <a href="#" class="btn btn-primary">Buy Now</a>-->
        <% if @cart.include?(@product) %>
          <h6 class="text-muted"> Already in your cart</h6>
        <% else %>
          <%= link_to 'Add To Cart', add_to_cart_path(product.id), method: :post, class: 'btn btn-outline-primary px-3'%>
        <% end %>
      </div>
    </div>
  </div>
</div>