<!DOCTYPE html>
<html>
  <head>
    <title>AdventuresTimeApparel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "pages/navigation" %>
<!--    <h5>You visited a product <%#= pluralize @visit_count, 'time' %></h5>-->
    <%= yield %>
    <%#= render partial: "pages/footer" %>
  </body>
</html>
